.p-wrap {
	width:30%;
	padding-right:25px;
	background-color:#ae86b038;
	border-radius:30px;
	margin-bottom:2%;
}
.p {
	width:100%;
	height: 40vh;
	margin: 20px 10px;
	border: 2px solid #490873e0;
	border-radius: 10px 10px 0px 0px;
	overflow:hidden;
}
.p-browser {
	height: 30px;
	background-color:#490873e0;
	display:flex;
	align-items:center;
	position:sticky;
	z-index:2;
}
.p-circle {
	width:6px;
	height:6px;
	background-color:white;
	border-radius:50%;
	margin:3px;
}
img.p-img {
	width:100%;
	transition: all 10s ease;
}
.p:hover .p-img{
	transform:translateY(-80%);
}

.p-title {
	color:white;
	margin:0 auto;
	text-transform:capitalize;
	font-size:18px;
	font-weight:400
}
.p-descr {
	color:black;
	margin:0 auto;
	text-transform:none;
	font-size:18px;
	font-weight:400;
	width:95%;
	text-align:center;
}
.tech-wrap {
	display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
span.tech-item {
	border-radius:30px;
	padding: 5px 10px;
	background-color: #490873e0;
	color: white;
	font-weight: 500;
	margin-bottom:1%;
	margin-bottom: 5px;
}
.p-repo h3{
	margin:20px 0px;
}

@media screen and (max-width:480px) {
	.p-wrap {
	width: 80%;
    margin: 0 auto;
    height: auto;
	margin-bottom:20px;
	padding-bottom:20px;
	padding-right:10px;
	}
	.p {
		height:35vh;
		width:95%;
	}
	.p-title {
		font-size:16px;
	}
	a.p-repo h3 {
		color:purple;
	}
}