.f {

	background-color: #490873e0;
}
.contact-wrap {
	display:flex;
	flex-flow:row;
	justify-content: space-around;
	align-items:center;
	height:50px;
}
.f-link {
	color:white;
	font-size:19px;
	text-decoration: none;
}
.f-link svg {
	font-size:23px;
	margin-right:5px;
}