.f {

	background-color: #490873e0;
}
.contact-wrap {
	display:flex;
	flex-flow:row;
	justify-content: space-around;
	align-items:center;
	height:50px;
}
.f-link {
	color:white;
	font-size:19px;
	text-decoration: none;
}
.f-link svg {
	font-size:23px;
	margin-right:5px;
}

@media screen and (max-width:480px) {
	.f {
		height:23vh;
	
	}
	.contact-wrap {
		height:20vh;
		flex-flow:column;
		padding-top:10px;
	}
}